/* work */
#work {
    color: var(--color-primary);
}

.category-all {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1.5rem;
}
    .category-btn {
        position: relative;
        padding: 0.8rem 1.5rem;
        color: var(--color-primary);
        cursor: pointer;
        white-space: nowrap;

    }

    .btn-bg {
        position: relative;
        left: 0;
        top: -10px;
        width: 0%;
        height: 5px;
        background: var(--color-accent);
    }

    

    .work_count {
        position: absolute;
        top: 0px;
        right: 2px;
        width: 14px;
        height: 14px;
        line-height: 14px;
        border-radius: 100%;
        background: var(--color-accent);
        color: var(--color-text);
        opacity: 0;
        transition: all 0.3s;
    }

    .category-btn.selected .work_count, .category-btn:hover .work_count {
        opacity: 1;
        top: 18px;
        transition: all 0.5s;
    }

   
    .category-btn.selected ~ .btn-bg {
        width: 100%;
    }

.project-all {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.project {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.project_img {
    width: 100%;
    object-fit: cover;
}


.project-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: var(--color-primary-variant);
    font-family: 'Noto Sans KR', sans-serif;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.5s;
}

.project:hover .project-text {
 opacity: 0.8;
 transform: translateY(0px);
 transition: all 0.5s;
}

.project_title::after {
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    margin: 0.4rem 0;
    background: var(--color-accent);
    transition: all 300ms;
}

.project:hover .project_title::after {
    width: 80%;
    transition: all 300ms;
}

.category-btn:hover  ~ .btn-bg {
    width: 100%;
    transition: all 300ms;
}